<div style="display: flex; flex-direction: column; align-items: center;">
  <div style="margin-top: 100px;">
    <h1>Account Login</h1>
  </div>
</div>
<div style="display: flex; flex-direction: column; align-items: center;">
  <div>
    <form action="/check" method="POST" style="display: flex; flex-direction: column; align-items: center;">
      <div style="display: inline-block; width: 350px; margin-top: 30px;">
        <input class="form-control" name="email" type="email" placeholder="Email" value="" aria-label="readonly input example" required>
        <input class="form-control" name="password" type="password" placeholder="Password" style="margin-top: 30px;" aria-label="readonly input example" required>
      </div>
      <h5>{{ error }}</h5>
      <button
        style="height:40px; width: 100px; border-color: cornflowerblue; background: white; color:cornflowerblue ; margin-top: 50px;"
        type="submit">Sign in
      </button>
    </form>
  </div>
</div>